html {
    font-family: "Raleway", sans-serif;
}

body {
    margin: 0;
    padding-top: 64px;
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

h2 {
    font-weight: 700;
    font-size: 32px;
}

h1,
h2,
h3,
h4 {
    margin: 0 0;
}

.highlight_text {
    /*color: #871B00;*/
    color: #1E4445;
}

/*fixed nav bar*/

header {
    display: flex;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    align-items: center;
    height: 32px;
    width: 100%;
    padding: 16px 0;
    justify-content: space-between;
    background-color: white;
}

.logo {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
}

.logo img {
    height: 36px;
    width: auto;
}

.logo p {
    font-size: 20px;
    font-weight: normal;
    margin: 0 0;
}

nav {
    display: inline-flex;
    align-items: center;
    left: 0;
    padding: 0 24px;
    height: 100%;
}

nav p {
    margin: 0 8px;
}

/*Splash*/

.splash {
    display: flex;
    top: 64px;
    right: 0;
    left: 0;
    background-color: #8FC3C4;
    padding: 32px 24px;
    align-items: center;
}

.splash img {
    width: 60%;
}

.splash_info {
    margin: 24px;
    width: 30%;
}

.splash_button {
    background-color: #F5B734;
    color: white;
    width: 100%;
    border: 0px;
    font-family: "Raleway", sans-serif;
    padding: 8px 0;
    margin: 0 0;
    transition: all 750ms ease-out 0ms;
}

.splash_button:hover {
    background-color: white;
    color: black;
}

/*news section*/

.news {
    display: flex;
    padding: 32px 24px;
}

.news_spotlight img {
    width: 60%;
    height: auto;
}

.news_spotlight h2 {
    margin-top: 32px;
    margin-bottom: 24px;
}