html {
    font-family: "Raleway", sans-serif;
    color: #4d4d4d;
}

body {
    margin: 0;
    padding-top: 64px;
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

h2 {
    font-weight: 700;
}

h1,
h2,
h3,
h4 {
    margin: 0 0;
}

a {
    text-decoration: none;
    color: rgb(58, 107, 199);
}

a:hover {
    color: #F5B734;
}

.title_text {
    color: #F5B734;
}

.highlight_text {
    color: #1E4445;
}

/*fixed nav bar*/

header {
    display: flex;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    align-items: center;
    height: 32px;
    width: 100%;
    padding: 16px 0;
    justify-content: space-between;
    background-color: whitesmoke;
    border-bottom: 2px solid lightgray;
}

.logo {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
}

.logo img {
    height: 36px;
    width: auto;
}

.logo p {
    font-size: 20px;
    font-weight: normal;
    margin: 0 0;
}

nav {
    display: inline-flex;
    align-items: center;
    left: 0;
    padding: 0 24px;
    height: 100%;
}

nav p {
    margin: 0 8px;
}

.link {
    color: #4d4d4d;
}

/*Splash*/

.splash {
    display: flex;
    top: 64px;
    right: 0;
    left: 0;
    background-color: #8FC3C4;
    padding: 32px 24px;
    align-items: center;
}

.splash img {
    width: 60%;
}

.splash_info {
    margin: 24px;
    width: 30%;
}

.splash_button {
    background-color: #F5B734;
    color: whitesmoke;
    width: 100%;
    border: 0px;
    font-family: "Raleway", sans-serif;
    padding: 8px 0;
    margin: 0 0;
    transition: all 750ms ease-out 0ms;
}

.splash_button:hover {
    background-color: whitesmoke;
    color: black;
}

/*news section*/

.news {
    display: flex;
    padding: 32px 24px;
    background-color: whitesmoke;
}

.news_spotlight {
    position: relative;
    margin-right: 24px;
    width: 60%;
}

.news_spotlight img {
    width: 100%;
    height: auto;
}

.news_spotlight h2 {
    margin-top: 32px;
    margin-bottom: 24px;
}

.news_sub {
    width: 40%;
    border-left: 1px solid lightgray;
}

.desktop_news_img {
    width: 35%;
    min-width: 35%;
    height: auto;
    margin: 16px;
}

.sub_item {
    display: flex;
    align-items: center;
    transition: background-color 400ms ease-out 0ms;
    word-wrap: normal;
}

.sub_item:hover {
    background-color: #8FC3C4;
}

/*Courses section*/

.courses {
    background-color: #8FC3C4;
}

.courses h1 {
    padding: 16px 0;
    margin: 0 0;
    text-align: center;
}

.course_grid {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 0;
    padding: 0 56px;
    padding-bottom: 16px;
    flex-wrap: wrap;
}

.course {
    width: 25%;
    margin: 16px 16px;
    background-color: whitesmoke;
}

.course img {
    width: 100%;
    height: auto;
}

.course.break {
    break-after: always;
}

.course_content {
    margin: 16px 16px;
}

/*thesis section*/

.thesis {
    background-color: whitesmoke;
}

.thesis h1 {
    text-align: center;
    padding-top: 32px;
}

.thesis_flex {
    display: flex;
    padding: 32px 24px;
}

.thesis_spotlight {
    width: 60%;
    padding-right: 24px;
}

.thesis_spotlight video {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

.thesis_sub {
    width: 40%;
}

.thesis_subitem {
    padding-right: 16px;
    display: flex;
    align-items: center;
    transition: background-color 400ms ease-out 0ms;
}

.thesis_subitem:hover {
    background-color: #8FC3C4;
}

.thesis_subitem img {
    height: auto;
    width: 35%;
    padding: 16px 16px;
}

.thesis_subitem_content {
    width: 65%;
}

/*footer*/

footer {
    padding: 16px 24px;
    background-color: whitesmoke;
    padding-bottom: 36px;
    border-top: 2px solid lightgray;
}

.foot_text {
    display: inline;
}

.foot_links {
    display: inline;
    float: right;
}

.foot_links > * {
    margin-right: 16px;
}

/*hide mobile on non mobile*/

.mobile_nav {
    display: none;
}

.mobile_news_img {
    display: none;
}

/*responsive mobile*/

@media screen and (max-width: 600px) {

    /*nav bar*/
    .mobile_nav {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-evenly;
    }
    
    .logo, nav {
        display: none;
    }

    /*splash*/
    .splash img {
        width: 100%;
    }

    .splash {
        padding: 0 0;
        flex-direction: column;
    }

    .splash_info {
        margin: 0 0;
        padding: 16px 32px;
        width: auto;
    }

    /*news*/

    .news_spotlight {
        display: none;
    }

    .desktop_news_img {
        display: none;
    }

    .mobile_news_img {
        display: block;
        margin: 0 0;
        width: 100%;
        padding-bottom: 16px;
    }

    .news {
        padding: 16px 16px;
    }

    .news_sub {
        width: 100%;
    }

    .sub_item {
        flex-direction: column;
    }

    .sub_text {
        width: 100%;
        padding: 16px 16px;
    }
    
    .sub_item p {
        width: 100%;
    }

    /*courses*/
    .courses img {
        display: none;
    }

    .courses p {
        display: none;
    }

    .course_grid {
        flex-direction: column;
        padding: 16px 16px;
    }

    .course {
        width: 100%;
        margin: 4px 0;
    }

    .course:hover {
        background-color: #F5B734;
    }

    .course_content {
        margin: 16px 16px;
    }

    .courses h1 {
        padding-bottom: 12px;

    }

    /*thesis*/
    .thesis_sub {
        display: none;
    }

    .thesis_flex {
        padding: 0 0;
    }

    .thesis_spotlight_content {
        display: none;
    }
    
    .thesis_spotlight {
        width: 100%;
        padding: 0 0;
    }

    .thesis_spotlight video {
        margin: 0 0;
    }

    .thesis h1 {
        padding-bottom: 16px;
    }

    .foot_links {
        display: none;
    }

    footer {
        padding-top: 40px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
}